// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.price_line {
	margin: 0.5em 0px 0.8em 100px;
	form, div {
		display: inline;
	}
}

.store {
	text-align: center;

	h1 {
		padding-bottom: 0.5em;
		font:	150% sans-serif;
		color: darkgreen;
		border-bottom: 2px dotted #808080
	}

	.list_image {
		width: 240px;
		height: 300px;
		box-shadow: 0 0 0 2px green;
	}

	.entry {
		h3 {
			font-size: 120%;
			font-family: sans-serif;
		}
		.price {
			font-size: 120%;
			color: #2F4F4F;
			font-weight: bold;
			margin: 0% 0% 3% 0%;
		}
		p {
			margin: 1% 13% 0% 13%;
		}
		hr {
	    height: 1px; /* Толщина линии */
	    margin: 0% 10% 0% 10%;
		}
	}
}
